venv/
.env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
.ipynb_checkpoints/
.DS_Store
.vscode/
bin/
include/
lib/
lib64/
lib64
output.json
pyvenv.cfg
test.py
dbs/
eggs/
output-*
*_output.json
*.egg
twistd.pid
project.egg-info
logs
*.old
.idea/
.env